<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
	<div ng-app="mainApp" ng-controller="menuController">
		메뉴이름 : <input type="text" ng-model="menu.menuName"><br>
		가격 : <input type="text" ng-model="menu.price"><br>
		
		현재 입력한 값 : {{menu.menuList()}}
	</div>
	<script>
		var mainApp = angular.module("mainApp", []);
		
		mainApp.controller('menuController', function($scope) {
			$scope.menu = {
				menuName: "짜장면",
				price: "5000",
				
				menuList: function() {
					var menuObject;
					menuObject = $scope.menu;
					return menuObject.menuName + " " + menuObject.price + "원";
				}
			};
		});
	</script>
</body>
</html>